-# #TODO: remove this and change it to edit for changing password
.row
  .col-sm-8.col-sm-offset-2
    %h3
      = current_user?(@user) ? "You" : "@#{@user.username}"
    %h5= "member since #{@user.created_at.strftime("%B %e, %Y")}"

.row
  .col-sm-8.col-sm-offset-2
    = render partial: 'books/list', locals: { books: @user.books }
