.row
  .col-sm-8.col-sm-offset-2
    %h3
      = @user == current_user ? "You" : "@#{@user.username}"
    %h5= "member since #{@user.created_at.strftime("%B %e, %Y")}"

.row
  .col-sm-8.col-sm-offset-2
    = render partial: 'books/list', locals: { books: @user.books }
