.row
  .page-text.well.col-sm-8.col-sm-offset-2<
    = @page.text

.row.photo-carousel
  .col-xs-2
    .page-arrow
      - if previous_page = @page.previous_page
        = link_to user_book_page_path(@user, @book, previous_page) do
          %i.fa.fa-chevron-left.fa-3x
  .page-image.col-xs-8
    =image_tag @page.image_url(9)
  .col-xs-2
    .page-arrow
      - if next_page = @page.next_page
        = link_to user_book_page_path(@user, @book, next_page) do
          %i.fa.fa-chevron-right.fa-3x

.row
  .col-sm-8.col-sm-offset-2
    %h5
      = link_to "#{@book.title}", user_book_path(@user, @book)
      by
      = link_to "@#{@user.username}", user_books_path(@user)

- if current_user?(@user)
  .row
    .col-sm-8.col-sm-offset-2
      = link_to "Edit Page", edit_user_book_page_path(@user, @book, @page), class: 'btn btn-warning'
      = link_to "Add another Page", new_user_book_page_path(@user, @book), class: 'btn btn-warning'
      = link_to "Delete Page", { action: :destroy, id: @page.id }, method: :delete, data: { confirm: destroy_page_confirmation }, class: 'btn btn-danger pull-right'

.row.page-number
  = "#{@page.position} / #{@book.length}"
