.col-sm-offset-2.col-sm-8
  %h3= "Edit #{@book.title}"
  = render partial: 'form', locals: { submit_button: 'Update' }

  %h3 Advanced Options
  = link_to "Order Pages", user_book_pages_path(@user, @book), class: 'btn btn-warning'
  = link_to "Delete #{@book.title}", { action: :destroy, id: @book.id }, method: :delete, data: { confirm: destroy_book_confirmation }, class: 'btn btn-danger pull-right'
