<!DOCTYPE html>
<html>
<head>
  <title>PictureBookMyLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/nav' %>
<%= render 'layouts/flash' %>

<div class="controller-<%= controller_name %>">
  <%= yield %>
</div>

</body>
</html>
